@inherits LayoutComponentBase

<div class="top-bar">
    Gestion des notes
</div>


@Body


<style>
    /* Style pour la barre en haut de l'écran */
    .top-bar {
        background-color: gray; /* Couleur de fond grise */
        color: white; /* Couleur de texte blanche */
        
        width: 100%; /* Largeur complète */
        height: 50px; /* Hauteur de la barre */
        top: 0; /* Positionnée en haut */
        left: 0; /* Positionnée à gauche */
        text-align: center; /* Texte centré */
        line-height: 50px; /* Alignement vertical du texte */
        z-index: 1000; /* S'assurer que la barre est au-dessus des autres éléments */
    }
</style>

@code {

}
